<!doctype html>
<html lang="{{ site.Language.Lang }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
<div class="frame">

 <div class="side">
  <div class="brandcell">
    <a class="brand" href="{{ site.Home.RelPermalink }}" aria-label="{{ site.Title }} home">{{ partial "wordmark.html" . }}</a>
    {{ with site.Params.established }}<p class="est">{{ . }}</p>{{ end }}
  </div>

  <details class="railwrap">
   <summary class="menubtn"><span>Menu</span><span class="what shut">open</span><span class="what open">close</span><span class="chev" aria-hidden="true"></span></summary>
  {{ partial "rail.html" . }}
   </details>
 </div>

 <div class="body">
  <div class="strip">
    <p>{{ site.Params.tagline }}</p>
  </div>

  {{ block "main" . }}{{ end }}
 </div>
</div>
{{ if eq .Layout "search" }}
{{ $js := resources.Get "js/search.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
{{ end }}
{{ if eq .Kind "taxonomy" }}
{{ $js := resources.Get "js/tags.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
{{ end }}
</body>
</html>
